/* Estilos generales */
body {

    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* Fondo claro */
    margin: 0;
    padding: 0;
    text-align: center;

}

header {
background-color:   #134413; /* Cambia el color de fondo a un tono más femenino */
color:  beige;
text-align: center;
padding: 1em 0;
font-family: 'Helvetica', sans-serif; /* Cambia la fuente a una más profesional */
}

h1 {
margin: 0;
font-family: 'Georgia', serif; /* Cambia la fuente a una más delicada y seria */
    background-color: #ff6b6b34; /* Color de fondo rosa */
    color: #134413; /* Texto en negro */
    padding: 1em 0;
}

section {
margin: 2em;
}

/* Estilos de la tabla de notas */
table {
width: 100%;
border-collapse: collapse;
margin-top: 1em;
border: 1px solid #ccc; /* Agrega un borde a la tabla */
}

/* Estilos de la sección de información del alumno */
.alumno-info {
margin: 2em;
background-color: #f2f2f2;
padding: 1em;
text-align: center;
border-radius: 10px; /* Agrega bordes redondeados para un aspecto más delicado */
}

.info-row {
display: flex;
justify-content: space-between;
align-items: center;
}

/* Estilos de la tabla de inasistencias */
.inasistencias table, .Previas table {
width: 100%;
border-collapse: collapse;
margin-top: 1em;
border: 1px solid #ccc; /* Agrega un borde a la tabla */
}

th, td {
border: 1px solid #ccc;
padding: 8px;
text-align: left;
}

th {
background-color:  beige;
}
.container {
max-width: 400px;
padding: 80px;
border-radius: 0px;
background-color: #134413; /* Fondo blanco */
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
color: beige; /* Texto en negro */
text-align: center;
}

/* Encabezado secundario */
h2 {
color: beige; /* Texto en negro */
margin-bottom: 40px;
}

/* Etiquetas */
label {
text-align: center;
}


body {
font-family: 'Arial', sans-serif;
background-color:beige;/* Fondo claro */
margin: 0;
padding: 0;
text-align: center;
}

h1 {
background-color:  #134413; /* Color de fondo rosa */
color: beige;  /* Texto en negro */
padding: 1em 0;
}

ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style-type: none;
padding: 0;

}

li {
width: 150px;
height: 150px;
background-color: rgba(238, 100, 100, 0.144); 
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

li a {
text-decoration: none;
color: #134413; /* Texto en negro */
text-align: center;
font-weight: bold;

}

li::before {
content: '\1F4C2'; /* Unicode character for a folder icon */
font-size: 48px;
margin-bottom: 10px;
color: #134413; /* Color negro para el icono */

}

button {
background-color: #b48e5b; /* Fondo rosa para el botón */
border: none;
color: #fff; /* Texto en blanco */
padding: 10px 20px;
margin: 10px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;

}

button:hover {
background-color: beige; /* Cambia el color de fondo del botón al pasar el ratón */
}
